 @keyframes car {
    0% {
            transform: translateX(-100%);
        }
    
        100% {
            transform: translateX(0%);
        }
 }
 @keyframes light_top {
    from {
            transform: rotate(20deg);
        }
    50% {
        transform: rotate(-30deg)
    }
        to {
            transform: rotate(20deg);
        }
 }
 @keyframes light_bottom {
     from {
         transform: rotate(-20deg);
     }

     50% {
         transform: rotate(30deg)
     }

     to {
         transform: rotate(-20deg);
     }
 }
 @keyframes krugi {
    from {
            transform: rotate(0deg);
        }
    
        to {
            transform: rotate(360deg);
        }
 }
 